<!-- Property binding - używa się, gdy chcę dynamicznie zmieniać wartości Events, Directives, Other components
poperty bind syntax: [atribute to change]="changes"
W składni property binding musi znaleźć się kod TypeScript zrozumiały dla Angulara

String interpolation działa tylko w kodzie normalnego template, w składni TypeScript powoduje problem
Używa się tylko do wyświetlenia tekstu, można to zrobić za pomocą metody

Property binding i String Interpolation to dwa sposoby na wyświetlanie danych w Template - dla użytkownika

Two-way binding, połączenie event i property binding.

(nameOfEventBinding) - event binding; nie powinny zawierać zbyt dużo logiki. Lepiej zrobić metodę, która przez zmianę jakiejś zmiennej bool będzie wywoływać wiele metod
[nameOfPropetyBinding] - property binding
[(nameOfDirective)] - two-way binding, połączenie event i property binding - następuje akcja event i bierząco zmienia informacje wraz z wysyłaniem ich do użytkownika

4 sposoby data binding:
event - listen to the click,
string interpolation - output data,
property - enable button after time,
two-way - fetch output data.

Dyrektywy @Directive - dodaje je po to żeby kontrolować kiedy coś ma się zadziać. Np.: *ngIf - jeśli chcę kontrolowac w jakim stanie ma się coś zadziać - mogę używać w przypadku zmiennych albo metod, które zwracają true or false.
Typowe dyrektywy, są wywoływane poprzez selektory (podobnie jak @component) i istnieje kilka rodzajów ich wywołań (jak w przykładach succes and warning alert).
Komponenty, są specjalnymi dyrektywami.
Są różne typy tyrektyw:
- Structural directives: wprowadzają zmiany w strukturę DOM (dodają, usuwają elementy)
*ngIf - to dyrektywa strukturalna, gwiazdki używam odwołując się do dyrektyw strukturalnych. Zmiana struktury DOM dokonuje się w sposób dynamiczny. Np.: Elementu strony nie ma, lecz po wykonaniu jakiejś akcji, zostaje utworzony element.
- Attribute directives: nie wprowadzją zmian w DOM, wyłącznie zmieniają elementy, które już istnieją. Odwołuje się do nich bez użycia *.
[ngStyle] - pozwala na dynamiczną zmianę wartości selektorów CSS
[ngFor] - pozwala na
[ngClass] - pozwala na dynamiczne dodawanie bądź usuwanie klas CSS


-->


<label>Server name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->

  <input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">

<!-- <p>{{ serverName }}</p> -->

<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>

<app-server *ngFor="let server of servers"></app-server>

<!-- <h2>Zadanie 2</h2>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName">

<p>{{userName}}</p>

<button class="btn btn-primary"
[disabled]="!userName"
(click)="onUpdateUserName()">Input user</button> -->
